#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
// |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
//                               |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |		
            bindings = <
	&kp A		&kp A	&kp W	&kp E		&kp R	&kp T	&kp Y	&kp U		&kp I		&kp O		&kp A		&kp A
    &kp ESC		&kp Q	&kp S	&kp D		&kp F	&kp G	&kp H	&kp J		&kp K		&kp L		&kp P		&kp LBKT
    &kp SQT		&kp A	&kp X	&kp C		&kp V	&kp B	&kp N	&kp M		&kp COMMA	&kp DOT		&kp SEMI	&kp RBKT
	&kp A		&kp Z	&kp A	&kp SPACE	&kp TAB	&kp B	&kp B	&kp BSPC	&kp RETURN	&kp A		&kp FSLH	&kp A
            >;
        };
    };
};
